.btn-ui {
    background-color: white;
    border: 0;
    padding: 1rem;
}
.btn-ui svg {
    width: 3rem;
    height: 3rem;
    fill: var(--medium-gray);
}
#closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: 1px solid white;
    
}
#closeBtn svg {
    fill: white;
}