@use '../abstracts/vars';

.btn {
    //background-color: violet;
    font-family: vars.$font_primary;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: .5rem 1rem;
    display: block;
    border-radius: 100px;
    border: 1px solid black; // balance the height 
    //class="btn btn--primary
    // .btn.btn--primary
    &.btn--primary{
        background-color: black;
        color: white;
    }
    &.btn--secondary{
        background-color: white;
        color: black;
        
    }
    &.btn--text {
        border-radius: 0;
        border: 0;
    }
    &.btn--icon{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        svg {
            width: 1rem;
            height: auto;
        }
        &.btn--icon--left {
            flex-direction: row-reverse;
        }
        &.btn--icon--right{
            flex-direction: row;
        }
    }
}