@use '../abstracts/mixins';

.nav {
    background-color: pink;
    &.nav--desktop {
        display: none;
        @include mixins.breakpoint(laptop) {
            display: block;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;

    }
    &__item {
        a {
            font-family: Arial;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
    }
}
